<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<title>BBandXplor: Food Deserts</title>
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry"></script>
		<script type="text/javascript">
var map, infoWindow, markers, providers, checkdiv, viewholes, oldHole;
function init(){
	// set up Google Maps, pointed at Terminal Station, Macon, GA
	var ctr = new google.maps.LatLng(32.834164,-83.624952);
	var z = 12;
	if(gup("lat")){
		ctr = new google.maps.LatLng(1 * gup("lat"), 1 * gup("lng"));
		z = 1 * gup("z");
	}
	var mapOptions = {
		center: ctr,
		zoom: z,
		mapTypeId: google.maps.MapTypeId.SATELLITE
	};
	map = new google.maps.Map($("map_canvas"), mapOptions);

	infoWindow = new google.maps.InfoWindow({ maxWidth: 350 });
	google.maps.event.addListener(map, 'click', function() {
		infoWindow.close();
	});
	
	google.maps.event.addListener(map, 'bounds_changed', function() {
		updatePerma();
	});
	
	checkdiv = document.createElement("div");
	checkdiv.innerHTML = "&check;";
	
					
	viewholes = [ ];
						viewholes.push([
							[-83.61741357686631,32.84272756072895],[-83.61400530430215,32.84049123318307],[-83.61099490724291,32.84157322086278],[-83.60820698985711,32.84152747929402],[-83.60653134433991,32.84335497104645],[-83.60726370195061,32.84489446735606],[-83.60732670501534,32.84634960536138],[-83.6051085009392,32.84679838997777],[-83.60239633477536,32.84765047181802],[-83.59882851135615,32.84760590908468],[-83.5981935278807,32.85025982511793],[-83.5991347027022,32.85139871770385],[-83.59793744731618,32.8532388827644],[-83.59840040246672,32.85420796101808],[-83.59634972649302,32.85531545478492],[-83.59960548094755,32.85654611935057],[-83.60229777493116,32.85642200658546],[-83.60137766732421,32.85471360639704],[-83.60236890124173,32.85335742508022],[-83.60371554588869,32.85328875747071],[-83.60564237572029,32.85290540840067],[-83.60619452847008,32.8538851152559],[-83.6060723214954,32.85502468985979],[-83.60740300297584,32.85551847877684],[-83.60918639853026,32.85725012997988],[-83.61067458007203,32.85902090304968],[-83.61220953627983,32.85888229936771],[-83.61256331093894,32.86008906529958],[-83.61157513764942,32.86152992372136],[-83.607154551138,32.86221450448403],[-83.60476705062712,32.86170764944307],[-83.60116766416733,32.86367705021178],[-83.6073697809489,32.86549330264446],[-83.61645296185407,32.86535061249955],[-83.62393736968023,32.86198984435941],[-83.62127963753439,32.85998953444042],[-83.61906963757278,32.8599403597201],[-83.61669543385854,32.85918001428108],[-83.6149712137659,32.85931607516809],[-83.61395955230513,32.8578718201362],[-83.61495889785002,32.85637220508984],[-83.61547399291175,32.85510293502483],[-83.61406110058287,32.85420455808384],[-83.61193271568266,32.85455310200604],[-83.61089490929207,32.85372481777382],[-83.61025376423356,32.85225261005139],[-83.60932826769515,32.85078379596363],[-83.6105916630414,32.84991857841852],[-83.6122237066964,32.84978819296953],[-83.61217123208641,32.84793913070837],[-83.61066857684207,32.84679395625714],[-83.61174737179606,32.84584920322678],[-83.61345678054531,32.84652018547639],[-83.61552690902872,32.84470971533194],[-83.61741357686631,32.84272756072895] 
						]);
						viewholes.push([
							[-83.65938135968409,32.78024037852295],[-83.65889056451972,32.7741737114217],[-83.65538906401211,32.7800339531045],[-83.65272057840198,32.78472417248701],[-83.6478769721556,32.78508726684384],[-83.64700090035095,32.78056708110277],[-83.64287652357058,32.78100156050562],[-83.64312039517559,32.79039520786387],[-83.64674193317919,32.79210082980831],[-83.64308299335676,32.79495584613737],[-83.64051135770863,32.80188238798607],[-83.64332948639985,32.80152965909184],[-83.64417067052403,32.80397849998238],[-83.64500665482159,32.80666747821125],[-83.64274407577064,32.8071313118794],[-83.64267016454977,32.80826522094168],[-83.6405221238805,32.80918885189248],[-83.63860813249022,32.80807297502891],[-83.63807464548479,32.80959900645146],[-83.63640989417651,32.80958124527185],[-83.63597328710445,32.81307850218982],[-83.63753330559138,32.81317035374778],[-83.63734681111613,32.8156402487712],[-83.63897309691824,32.81565134893916],[-83.63865080425256,32.81726290506232],[-83.64008280934787,32.81752479329462],[-83.64151601366839,32.81699565372038],[-83.64305377308654,32.81789701271877],[-83.64334145698535,32.81914801468751],[-83.64340092402757,32.82098363675363],[-83.64315679710016,32.82172709871737],[-83.64467928367402,32.8228571224862],[-83.64512025327915,32.82429162919493],[-83.6478703279254,32.82531445039464],[-83.65372504575637,32.82610611951426],[-83.65639140076536,32.82323657024496],[-83.65594111710654,32.82208087566299],[-83.65690080872362,32.81888200566083],[-83.65464176912202,32.81703811450765],[-83.6551651390222,32.81545025303487],[-83.65581140750245,32.81442210205171],[-83.65427106500179,32.81465384266571],[-83.65348077539178,32.81512342973172],[-83.65188901089581,32.81412173022734],[-83.65207052224538,32.81271789631706],[-83.65461571332256,32.81270973430743],[-83.65617624267375,32.81053308845887],[-83.6591577040881,32.80986951776327],[-83.6572867055462,32.80874918809297],[-83.65836019070157,32.80650422811668],[-83.66036162589033,32.80643491618493],[-83.66154126455517,32.80719273449041],[-83.66293301069361,32.80695561298101],[-83.66435007389477,32.80614908569913],[-83.66623482485824,32.80603705204559],[-83.66739291524894,32.80807044769684],[-83.66843372533516,32.81049710087128],[-83.6693594896134,32.81046917942826],[-83.67035212738985,32.80909782442414],[-83.67233237222165,32.80951254300721],[-83.67381776453608,32.8097737336035],[-83.6752947102927,32.80851086087544],[-83.67740999303848,32.80718239562806],[-83.6759214926329,32.80259128449086],[-83.67331329600724,32.79868061789107],[-83.67207503021083,32.80019690277621],[-83.67035321307291,32.80165781592427],[-83.66616129717625,32.8025058382502],[-83.66527985405331,32.80121329008773],[-83.66235677632741,32.80060773275697],[-83.66108875620688,32.79997416409265],[-83.66188859855589,32.79836235005216],[-83.66092375891687,32.79721121336007],[-83.66014126839183,32.79752160875034],[-83.65825467122535,32.79665989453073],[-83.65634231619268,32.79646038795676],[-83.65539614616576,32.79553504058151],[-83.6542488007172,32.79382804349414],[-83.65336622593037,32.79137979599531],[-83.65513704345928,32.79013740634274],[-83.65594883538968,32.79008458166479],[-83.65666998917372,32.78942996696669],[-83.65601846568364,32.78886691032198],[-83.65631910681826,32.78727876845236],[-83.65788384700721,32.78720224210662],[-83.65856051715886,32.78513551777543],[-83.65938135968409,32.78024037852295] 
						]);
						viewholes.push([
							[-83.66176382785309,32.82493686493137],[-83.65521300939712,32.82788863010098],[-83.65051168294841,32.83023371054792],[-83.64682923754114,32.83100263015637],[-83.64860899441027,32.83284765989173],[-83.64750318848584,32.83435329723085],[-83.64638266566305,32.83570830095501],[-83.64412271000266,32.83579993596428],[-83.6435401997615,32.83759962716928],[-83.63954652447143,32.83812783569083],[-83.63846418319172,32.83934949892549],[-83.63701467466824,32.83955971716061],[-83.63611167347692,32.83810363549961],[-83.63435808413348,32.83874624450047],[-83.63419875243154,32.84005868961498],[-83.63408402964403,32.84245236705861],[-83.63508404341617,32.84421870918482],[-83.63401142438607,32.84616075165641],[-83.6369407835744,32.84736229894453],[-83.63983980832623,32.8497171407466],[-83.6422826980145,32.85300668276798],[-83.64359125536878,32.8542316499158],[-83.64693864933818,32.85277774737678],[-83.64947135846791,32.85354654130863],[-83.65044810702405,32.85165283050463],[-83.65264517534767,32.85153181919993],[-83.6538150249511,32.85358030553206],[-83.65670218559218,32.8526624599385],[-83.65499691131019,32.85024130370653],[-83.65495828017751,32.84920140442108],[-83.65193188893974,32.84688490653909],[-83.64954549880757,32.84527882918404],[-83.6493197150477,32.84326698967429],[-83.64987591357306,32.84175186339467],[-83.64851526530367,32.8408086947957],[-83.64810440344226,32.83826522602821],[-83.65034920974107,32.83603930277518],[-83.65185911354713,32.83601600422113],[-83.65432775095859,32.83380607989714],[-83.65473986609449,32.83231860244859],[-83.65644129931223,32.83091142290827],[-83.65782752817049,32.83097259615393],[-83.660552858805,32.82855673515331],[-83.66176382785309,32.82493686493137] 
						]);
						viewholes.push([
							[-83.68561893230688,32.81454730218286],[-83.68118985737917,32.81825312007834],[-83.67701723425408,32.81765283100359],[-83.6765946960347,32.81865062781043],[-83.67783036142053,32.82028242215041],[-83.67687557673685,32.82278037546971],[-83.67454733266985,32.82326504681102],[-83.67354791536945,32.8236486922044],[-83.67254554855285,32.82375240236399],[-83.67154164511173,32.82451128672823],[-83.67176599449844,32.82638881464163],[-83.66917851937966,32.82754624256452],[-83.66692270598473,32.82766705226597],[-83.66515452373149,32.82606524373057],[-83.66290250934927,32.82692429489619],[-83.66395447224805,32.82913993564306],[-83.66563737449039,32.82989825085352],[-83.66719389564605,32.83193628067547],[-83.66946495637971,32.83272138387197],[-83.66873902206791,32.83574614815467],[-83.67047017979789,32.83624252499245],[-83.67232346291442,32.83603041682478],[-83.67418976401024,32.83815625234369],[-83.67325898143881,32.83888320532227],[-83.67586608551859,32.84208635099323],[-83.67756132071803,32.84471967392779],[-83.68036324108144,32.84729329001052],[-83.67692580683774,32.85037757230332],[-83.67256645145216,32.85043066670416],[-83.67026787001947,32.84990495846056],[-83.66549376982685,32.85211358644729],[-83.66568084204995,32.85462469071474],[-83.66958239235603,32.85882147438575],[-83.67167980114776,32.86327103944402],[-83.67817000254158,32.85935185788393],[-83.6779801771534,32.8628381351981],[-83.68126348465276,32.86347583577007],[-83.68382271813245,32.86123369622621],[-83.68536908329428,32.86251077357851],[-83.68097091993653,32.86678295397177],[-83.68457484250114,32.86825587857942],[-83.68899956963511,32.86775057432458],[-83.68951601272425,32.86531924334037],[-83.69458584324261,32.86512288671222],[-83.69745133012061,32.86419869356725],[-83.69910992415058,32.86600525476865],[-83.70076136413513,32.8643251799303],[-83.70465596103445,32.866521579024],[-83.70866869979216,32.86346387946891],[-83.7081110340452,32.85805707974066],[-83.70336575796507,32.85955575497338],[-83.70307737547746,32.85641853212217],[-83.69800909250726,32.85684578094313],[-83.69578721113233,32.85314432894348],[-83.69766454355114,32.84880693808758],[-83.69845475967642,32.84520056108375],[-83.69355359942801,32.84322351286539],[-83.69064411685601,32.8399999092286],[-83.69542506503799,32.84101296884054],[-83.69857141831091,32.84212483810121],[-83.70085440583961,32.84106588128829],[-83.70208369774642,32.83370948191973],[-83.69895327882153,32.83103887496166],[-83.69653103455857,32.83104072007585],[-83.70107177799029,32.82916208647943],[-83.70083519821969,32.82577263856734],[-83.6961658007903,32.82318890834816],[-83.69029045488794,32.8237132186532],[-83.68790552928866,32.82325013189612],[-83.68783338980182,32.82158729126425],[-83.69029094782803,32.82017730154085],[-83.68847806867724,32.81549455533136],[-83.68561893230688,32.81454730218286] 
						]);
						viewholes.push([
							[-83.70933211895992,32.77867982357103],[-83.70518963196582,32.77726388977385],[-83.70297847416478,32.77712961615915],[-83.7014894117326,32.77466083011909],[-83.7052326480996,32.77196995593087],[-83.70328813295227,32.7709673639601],[-83.69928450106073,32.77401067330013],[-83.69862219836691,32.77573264080976],[-83.70185582197044,32.77858809106349],[-83.6975445302881,32.77908490845022],[-83.69439159891071,32.7781168577731],[-83.68842007038839,32.77817586559551],[-83.69277544018867,32.78053211570455],[-83.69601637438397,32.78056607174651],[-83.69393157637892,32.7827999198172],[-83.69567079534761,32.78523884619954],[-83.69353362734759,32.78696260925151],[-83.69029526320234,32.78465730077719],[-83.68588112471872,32.78428736956202],[-83.6822782688596,32.78201614631553],[-83.68121464769384,32.78352458823281],[-83.68435771981592,32.78558633598966],[-83.68208014111435,32.78624989562411],[-83.68602942405687,32.78817994233126],[-83.68608344695845,32.79219333054587],[-83.6827419707183,32.79462243398889],[-83.67876798343141,32.79649379439908],[-83.68453220275683,32.7984701113148],[-83.69382379399481,32.79813627560453],[-83.69865143841393,32.79800516649578],[-83.70046564225575,32.80161855985951],[-83.70439833614483,32.8046929929687],[-83.71469098916512,32.80457599506094],[-83.71511254712956,32.79915368883192],[-83.71820396373421,32.79799808129309],[-83.71780099125566,32.79287751519315],[-83.71887016185806,32.78808875753609],[-83.71615969170233,32.78502674420514],[-83.71620827924352,32.77941713767725],[-83.70933211895992,32.77867982357103] 
						]);

	for(var h=0; h<viewholes.length; h++){
		for(var pt=0;pt<viewholes[h].length; pt++){
			viewholes[h][pt] = new google.maps.LatLng(viewholes[h][pt][1], viewholes[h][pt][0] );
		}
		hole = new google.maps.Polygon({
			paths: viewholes[h],
			strokeColor: "#0000FF",
			strokeOpacity: 0.8,
			strokeWeight: 2,
			fillColor: "#0000FF",
			fillOpacity: 0.35
		});
		//hole.setMap(map);
		viewholes[h] = hole;
	}
	if(!gup("lat")){
		findSView();
	}
}
function findSView(){
	document.getElementById("svsearch").disabled = true;
	var foundHole = null;
	var lat, lng, ll;
	while(!foundHole){
		lat = Math.random() * (32.94635021708248 - 32.695556653552394) + 32.695556653552394;
		lng = Math.random() * (-83.50668267569733 + 83.80949334464265) - 83.80949334464265;
		ll = new google.maps.LatLng(lat,lng);
		for(var h=0; h<viewholes.length; h++){
			if(google.maps.geometry.poly.containsLocation( ll, viewholes[h] )){
				foundHole = viewholes[h];
				if(oldHole){
					oldHole.setMap(null);
				}
				oldHole = foundHole;
				foundHole.setMap(map);
				break;
			}
		}
	}
	map.setCenter(ll);
	map.setZoom(17);
	updatePerma();
	var pov = {
	    heading: 34,
	    pitch: 10,
	    zoom: 0
	  };
	var panorama = map.getStreetView();
	panorama.setPosition(ll);
	panorama.setPov(pov);
	panorama.setVisible(true);
	document.getElementById("svsearch").disabled = false;
}
function bindWindow(mapmrk, datamrk){
	google.maps.event.addListener(mapmrk, 'click', function() {
		infoWindow.setContent("<h3>" + datamrk.name + "</h3>" + datamrk.details + "<hr/><a href='" + datamrk.link + "' target='_blank'>" + datamrk.link + "</a>");
		infoWindow.open(map, mapmrk);
	});
}
function toggle(btn){
	var setLayerOn = map;
	if(btn.innerHTML.indexOf(checkdiv.innerHTML) > -1){
		setLayerOn = null;
		btn.innerHTML = btn.innerHTML.replace(checkdiv.innerHTML,'');
	}
	else{
		btn.innerHTML = '&check;' + btn.innerHTML;
	}
	updatePerma();
}
function updatePerma(){
	var lat = map.getCenter().lat();
	var lng = map.getCenter().lng();
	var zoom = map.getZoom();
	var lyrs = [ ];
	$("perma").href = "http://bbandxplor.herokuapp.com/broadband3?lat=" + lat + "&lng=" + lng + "&z=" + zoom + "&lyrs=" + lyrs.join(',');
}
function gup(nm){nm=nm.replace(/[\[]/,"\[").replace(/[\]]/,"\]");var rxS="[\?&]"+nm+"=([^&#]*)";var rx=new RegExp(rxS);var rs=rx.exec(window.location.href);if(!rs){return null;}else{return rs[1];}}
function $(id){
	return document.getElementById(id);
}
		</script>
		<style type="text/css">
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: georgia, arial, serif;
}
#sidebar {
	float: left;
	width: 19%;
	height: 100%;
}
#map_canvas {
	float: left;
	width: 80%;
	height: 100%;
}
		</style>
	</head>
	<body onload="init()">
		<div id="sidebar">
			<h3>Grow Food Locally</h3>
			<input id="svsearch" type="button" value="Search" onclick="findSView()"/>
			<h3>Crowdsource</h3>
			<b>Is this area a...</b><br/>
			<input type="radio" name="stereotype"/> Highway<br/>
			<input type="radio" name="stereotype"/> Industrial Area<br/>
			<input type="radio" name="stereotype"/> Park or Pond<br/>
			<input type="radio" name="stereotype"/> Other
			<br/><br/>
			If <b>Other</b>, please describe:
			<br/><br/>
			<b>Is there vacant land?</b><br/>
			<input type="radio" name="vacant"/> Yes
			<input type="radio" name="vacant"/> No
			<br/>
			<b>Are there places to park?</b><br/>
			<input type="radio" name="parking"/> Yes
			<input type="radio" name="parking"/> No
			<br/>
			<b>Are there unkempt buildings?</b><br/>
			<input type="radio" name="abandoned"/> Yes
			<input type="radio" name="abandoned"/> No
			<br/>
			<hr/>
			<a id="perma" href="http://bbandxplor.herokuapp.com/broadband3">Link to this View</a>
			<br/>
			<small>Data from <a href="http://www.broadbandmap.gov/summarize/state/georgia/county/bibb">BroadbandMap.gov</a><br/>
			US Dept of Commerce, NTIA, State Broadband Initiative (Jun 2011)</small>
		</div>
		<div id="map_canvas">
		</div>
	</body>
</html>