<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<title>BBandXplor: Food Deserts</title>
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry"></script>
		<script type="text/javascript">
var map, infoWindow, markers, providers, checkdiv, viewholes, oldHole, activeArea;
function init(){
	// set up Google Maps, pointed at Terminal Station, Macon, GA
	var ctr = new google.maps.LatLng(32.834164,-83.624952);
	var z = 12;
	if(gup("lat")){
		ctr = new google.maps.LatLng(1 * gup("lat"), 1 * gup("lng"));
		z = 1 * gup("z");
	}
	var mapOptions = {
		center: ctr,
		zoom: z,
		mapTypeId: google.maps.MapTypeId.SATELLITE
	};
	map = new google.maps.Map($("map_canvas"), mapOptions);

	infoWindow = new google.maps.InfoWindow({ maxWidth: 350 });
	google.maps.event.addListener(map, 'click', function() {
		infoWindow.close();
	});
	
	google.maps.event.addListener(map, 'bounds_changed', function() {
		updatePerma();
	});
	
	checkdiv = document.createElement("div");
	checkdiv.innerHTML = "&check;";
	
					
	viewholes = [ ];
	
	/*
						viewholes.push([
							[-83.61741357686631,32.84272756072895],[-83.61400530430215,32.84049123318307],[-83.61099490724291,32.84157322086278],[-83.60820698985711,32.84152747929402],[-83.60653134433991,32.84335497104645],[-83.60726370195061,32.84489446735606],[-83.60732670501534,32.84634960536138],[-83.6051085009392,32.84679838997777],[-83.60239633477536,32.84765047181802],[-83.59882851135615,32.84760590908468],[-83.5981935278807,32.85025982511793],[-83.5991347027022,32.85139871770385],[-83.59793744731618,32.8532388827644],[-83.59840040246672,32.85420796101808],[-83.59634972649302,32.85531545478492],[-83.59960548094755,32.85654611935057],[-83.60229777493116,32.85642200658546],[-83.60137766732421,32.85471360639704],[-83.60236890124173,32.85335742508022],[-83.60371554588869,32.85328875747071],[-83.60564237572029,32.85290540840067],[-83.60619452847008,32.8538851152559],[-83.6060723214954,32.85502468985979],[-83.60740300297584,32.85551847877684],[-83.60918639853026,32.85725012997988],[-83.61067458007203,32.85902090304968],[-83.61220953627983,32.85888229936771],[-83.61256331093894,32.86008906529958],[-83.61157513764942,32.86152992372136],[-83.607154551138,32.86221450448403],[-83.60476705062712,32.86170764944307],[-83.60116766416733,32.86367705021178],[-83.6073697809489,32.86549330264446],[-83.61645296185407,32.86535061249955],[-83.62393736968023,32.86198984435941],[-83.62127963753439,32.85998953444042],[-83.61906963757278,32.8599403597201],[-83.61669543385854,32.85918001428108],[-83.6149712137659,32.85931607516809],[-83.61395955230513,32.8578718201362],[-83.61495889785002,32.85637220508984],[-83.61547399291175,32.85510293502483],[-83.61406110058287,32.85420455808384],[-83.61193271568266,32.85455310200604],[-83.61089490929207,32.85372481777382],[-83.61025376423356,32.85225261005139],[-83.60932826769515,32.85078379596363],[-83.6105916630414,32.84991857841852],[-83.6122237066964,32.84978819296953],[-83.61217123208641,32.84793913070837],[-83.61066857684207,32.84679395625714],[-83.61174737179606,32.84584920322678],[-83.61345678054531,32.84652018547639],[-83.61552690902872,32.84470971533194],[-83.61741357686631,32.84272756072895] 
						]);
						viewholes.push([
							[-83.65938135968409,32.78024037852295],[-83.65889056451972,32.7741737114217],[-83.65538906401211,32.7800339531045],[-83.65272057840198,32.78472417248701],[-83.6478769721556,32.78508726684384],[-83.64700090035095,32.78056708110277],[-83.64287652357058,32.78100156050562],[-83.64312039517559,32.79039520786387],[-83.64674193317919,32.79210082980831],[-83.64308299335676,32.79495584613737],[-83.64051135770863,32.80188238798607],[-83.64332948639985,32.80152965909184],[-83.64417067052403,32.80397849998238],[-83.64500665482159,32.80666747821125],[-83.64274407577064,32.8071313118794],[-83.64267016454977,32.80826522094168],[-83.6405221238805,32.80918885189248],[-83.63860813249022,32.80807297502891],[-83.63807464548479,32.80959900645146],[-83.63640989417651,32.80958124527185],[-83.63597328710445,32.81307850218982],[-83.63753330559138,32.81317035374778],[-83.63734681111613,32.8156402487712],[-83.63897309691824,32.81565134893916],[-83.63865080425256,32.81726290506232],[-83.64008280934787,32.81752479329462],[-83.64151601366839,32.81699565372038],[-83.64305377308654,32.81789701271877],[-83.64334145698535,32.81914801468751],[-83.64340092402757,32.82098363675363],[-83.64315679710016,32.82172709871737],[-83.64467928367402,32.8228571224862],[-83.64512025327915,32.82429162919493],[-83.6478703279254,32.82531445039464],[-83.65372504575637,32.82610611951426],[-83.65639140076536,32.82323657024496],[-83.65594111710654,32.82208087566299],[-83.65690080872362,32.81888200566083],[-83.65464176912202,32.81703811450765],[-83.6551651390222,32.81545025303487],[-83.65581140750245,32.81442210205171],[-83.65427106500179,32.81465384266571],[-83.65348077539178,32.81512342973172],[-83.65188901089581,32.81412173022734],[-83.65207052224538,32.81271789631706],[-83.65461571332256,32.81270973430743],[-83.65617624267375,32.81053308845887],[-83.6591577040881,32.80986951776327],[-83.6572867055462,32.80874918809297],[-83.65836019070157,32.80650422811668],[-83.66036162589033,32.80643491618493],[-83.66154126455517,32.80719273449041],[-83.66293301069361,32.80695561298101],[-83.66435007389477,32.80614908569913],[-83.66623482485824,32.80603705204559],[-83.66739291524894,32.80807044769684],[-83.66843372533516,32.81049710087128],[-83.6693594896134,32.81046917942826],[-83.67035212738985,32.80909782442414],[-83.67233237222165,32.80951254300721],[-83.67381776453608,32.8097737336035],[-83.6752947102927,32.80851086087544],[-83.67740999303848,32.80718239562806],[-83.6759214926329,32.80259128449086],[-83.67331329600724,32.79868061789107],[-83.67207503021083,32.80019690277621],[-83.67035321307291,32.80165781592427],[-83.66616129717625,32.8025058382502],[-83.66527985405331,32.80121329008773],[-83.66235677632741,32.80060773275697],[-83.66108875620688,32.79997416409265],[-83.66188859855589,32.79836235005216],[-83.66092375891687,32.79721121336007],[-83.66014126839183,32.79752160875034],[-83.65825467122535,32.79665989453073],[-83.65634231619268,32.79646038795676],[-83.65539614616576,32.79553504058151],[-83.6542488007172,32.79382804349414],[-83.65336622593037,32.79137979599531],[-83.65513704345928,32.79013740634274],[-83.65594883538968,32.79008458166479],[-83.65666998917372,32.78942996696669],[-83.65601846568364,32.78886691032198],[-83.65631910681826,32.78727876845236],[-83.65788384700721,32.78720224210662],[-83.65856051715886,32.78513551777543],[-83.65938135968409,32.78024037852295] 
						]);
						viewholes.push([
							[-83.66176382785309,32.82493686493137],[-83.65521300939712,32.82788863010098],[-83.65051168294841,32.83023371054792],[-83.64682923754114,32.83100263015637],[-83.64860899441027,32.83284765989173],[-83.64750318848584,32.83435329723085],[-83.64638266566305,32.83570830095501],[-83.64412271000266,32.83579993596428],[-83.6435401997615,32.83759962716928],[-83.63954652447143,32.83812783569083],[-83.63846418319172,32.83934949892549],[-83.63701467466824,32.83955971716061],[-83.63611167347692,32.83810363549961],[-83.63435808413348,32.83874624450047],[-83.63419875243154,32.84005868961498],[-83.63408402964403,32.84245236705861],[-83.63508404341617,32.84421870918482],[-83.63401142438607,32.84616075165641],[-83.6369407835744,32.84736229894453],[-83.63983980832623,32.8497171407466],[-83.6422826980145,32.85300668276798],[-83.64359125536878,32.8542316499158],[-83.64693864933818,32.85277774737678],[-83.64947135846791,32.85354654130863],[-83.65044810702405,32.85165283050463],[-83.65264517534767,32.85153181919993],[-83.6538150249511,32.85358030553206],[-83.65670218559218,32.8526624599385],[-83.65499691131019,32.85024130370653],[-83.65495828017751,32.84920140442108],[-83.65193188893974,32.84688490653909],[-83.64954549880757,32.84527882918404],[-83.6493197150477,32.84326698967429],[-83.64987591357306,32.84175186339467],[-83.64851526530367,32.8408086947957],[-83.64810440344226,32.83826522602821],[-83.65034920974107,32.83603930277518],[-83.65185911354713,32.83601600422113],[-83.65432775095859,32.83380607989714],[-83.65473986609449,32.83231860244859],[-83.65644129931223,32.83091142290827],[-83.65782752817049,32.83097259615393],[-83.660552858805,32.82855673515331],[-83.66176382785309,32.82493686493137] 
						]);
						viewholes.push([
							[-83.68561893230688,32.81454730218286],[-83.68118985737917,32.81825312007834],[-83.67701723425408,32.81765283100359],[-83.6765946960347,32.81865062781043],[-83.67783036142053,32.82028242215041],[-83.67687557673685,32.82278037546971],[-83.67454733266985,32.82326504681102],[-83.67354791536945,32.8236486922044],[-83.67254554855285,32.82375240236399],[-83.67154164511173,32.82451128672823],[-83.67176599449844,32.82638881464163],[-83.66917851937966,32.82754624256452],[-83.66692270598473,32.82766705226597],[-83.66515452373149,32.82606524373057],[-83.66290250934927,32.82692429489619],[-83.66395447224805,32.82913993564306],[-83.66563737449039,32.82989825085352],[-83.66719389564605,32.83193628067547],[-83.66946495637971,32.83272138387197],[-83.66873902206791,32.83574614815467],[-83.67047017979789,32.83624252499245],[-83.67232346291442,32.83603041682478],[-83.67418976401024,32.83815625234369],[-83.67325898143881,32.83888320532227],[-83.67586608551859,32.84208635099323],[-83.67756132071803,32.84471967392779],[-83.68036324108144,32.84729329001052],[-83.67692580683774,32.85037757230332],[-83.67256645145216,32.85043066670416],[-83.67026787001947,32.84990495846056],[-83.66549376982685,32.85211358644729],[-83.66568084204995,32.85462469071474],[-83.66958239235603,32.85882147438575],[-83.67167980114776,32.86327103944402],[-83.67817000254158,32.85935185788393],[-83.6779801771534,32.8628381351981],[-83.68126348465276,32.86347583577007],[-83.68382271813245,32.86123369622621],[-83.68536908329428,32.86251077357851],[-83.68097091993653,32.86678295397177],[-83.68457484250114,32.86825587857942],[-83.68899956963511,32.86775057432458],[-83.68951601272425,32.86531924334037],[-83.69458584324261,32.86512288671222],[-83.69745133012061,32.86419869356725],[-83.69910992415058,32.86600525476865],[-83.70076136413513,32.8643251799303],[-83.70465596103445,32.866521579024],[-83.70866869979216,32.86346387946891],[-83.7081110340452,32.85805707974066],[-83.70336575796507,32.85955575497338],[-83.70307737547746,32.85641853212217],[-83.69800909250726,32.85684578094313],[-83.69578721113233,32.85314432894348],[-83.69766454355114,32.84880693808758],[-83.69845475967642,32.84520056108375],[-83.69355359942801,32.84322351286539],[-83.69064411685601,32.8399999092286],[-83.69542506503799,32.84101296884054],[-83.69857141831091,32.84212483810121],[-83.70085440583961,32.84106588128829],[-83.70208369774642,32.83370948191973],[-83.69895327882153,32.83103887496166],[-83.69653103455857,32.83104072007585],[-83.70107177799029,32.82916208647943],[-83.70083519821969,32.82577263856734],[-83.6961658007903,32.82318890834816],[-83.69029045488794,32.8237132186532],[-83.68790552928866,32.82325013189612],[-83.68783338980182,32.82158729126425],[-83.69029094782803,32.82017730154085],[-83.68847806867724,32.81549455533136],[-83.68561893230688,32.81454730218286] 
						]);
						viewholes.push([
							[-83.70933211895992,32.77867982357103],[-83.70518963196582,32.77726388977385],[-83.70297847416478,32.77712961615915],[-83.7014894117326,32.77466083011909],[-83.7052326480996,32.77196995593087],[-83.70328813295227,32.7709673639601],[-83.69928450106073,32.77401067330013],[-83.69862219836691,32.77573264080976],[-83.70185582197044,32.77858809106349],[-83.6975445302881,32.77908490845022],[-83.69439159891071,32.7781168577731],[-83.68842007038839,32.77817586559551],[-83.69277544018867,32.78053211570455],[-83.69601637438397,32.78056607174651],[-83.69393157637892,32.7827999198172],[-83.69567079534761,32.78523884619954],[-83.69353362734759,32.78696260925151],[-83.69029526320234,32.78465730077719],[-83.68588112471872,32.78428736956202],[-83.6822782688596,32.78201614631553],[-83.68121464769384,32.78352458823281],[-83.68435771981592,32.78558633598966],[-83.68208014111435,32.78624989562411],[-83.68602942405687,32.78817994233126],[-83.68608344695845,32.79219333054587],[-83.6827419707183,32.79462243398889],[-83.67876798343141,32.79649379439908],[-83.68453220275683,32.7984701113148],[-83.69382379399481,32.79813627560453],[-83.69865143841393,32.79800516649578],[-83.70046564225575,32.80161855985951],[-83.70439833614483,32.8046929929687],[-83.71469098916512,32.80457599506094],[-83.71511254712956,32.79915368883192],[-83.71820396373421,32.79799808129309],[-83.71780099125566,32.79287751519315],[-83.71887016185806,32.78808875753609],[-83.71615969170233,32.78502674420514],[-83.71620827924352,32.77941713767725],[-83.70933211895992,32.77867982357103] 
						]);
	*/
					viewholes.push([
						[-83.70330199933353,32.85916299955456],[-83.70277569364812,32.85916139792532],[-83.70191612637568,32.85915613509047],[-83.70057607421739,32.85914479356074],[-83.69960482579154,32.85913601795706],[-83.69939885610864,32.85913335967147],[-83.69889328316951,32.8591292367868],[-83.69826965398538,32.85912570157478],[-83.69782186012176,32.85912660072488],[-83.69690684433613,32.85910719268488],[-83.69632637238303,32.85910243461208],[-83.69572639284866,32.85909158828674],[-83.69425363900773,32.8590796803792],[-83.69355597089113,32.85906673687267],[-83.6927027973426,32.85905423031074],[-83.69219227297084,32.85906277481325],[-83.69210454754236,32.85902430514555],[-83.69056755387444,32.85823596981093],[-83.69012188223577,32.8579930817451],[-83.68976460397845,32.85781580942846],[-83.68858910513713,32.85718395141318],[-83.6882252409178,32.85702142332337],[-83.68805809780864,32.85691530617977],[-83.68793590894921,32.85677637660667],[-83.68786486146269,32.85666530186703],[-83.68782051475701,32.8565849066574],[-83.68777476247105,32.85646327690456],[-83.68777060030344,32.85602571618298],[-83.68778274968489,32.85527968545784],[-83.68779931934641,32.85477159861588],[-83.68781458153518,32.85405220636676],[-83.68783243166128,32.85285095756672],[-83.68788625526211,32.85040850148816],[-83.68788941662004,32.85012300055455],[-83.68789290266416,32.84977703136973],[-83.68790553420779,32.84939553742789],[-83.68790392410183,32.8492405782121],[-83.68787739560696,32.84902625623217],[-83.68788916592025,32.84895672654719],[-83.68791183077964,32.8488293463284],[-83.68793271647712,32.84857827079755],[-83.68808341882954,32.84704288443265],[-83.68828797055723,32.84533179200287],[-83.68829472414228,32.8452868092526],[-83.68827824793274,32.84501978615091],[-83.68824195442718,32.84480508320012],[-83.68820681719143,32.84467834123675],[-83.68816453648317,32.84451755693414],[-83.68791588057302,32.84382962255341],[-83.68755141032298,32.84288132787022],[-83.68741752820164,32.84249841316931],[-83.68725782109536,32.84207399790274],[-83.68718951789663,32.84190899151024],[-83.68712897977777,32.84181376006375],[-83.68761835059983,32.84148184871083],[-83.68803990310812,32.84119708879304],[-83.68839119468515,32.84095964571758],[-83.68917219996483,32.84043197176312],[-83.68949734381958,32.84021211952899],[-83.68991075293486,32.83992577739367],[-83.69025872561816,32.83969845140741],[-83.69078890520416,32.83934160071527],[-83.69109605246248,32.83913696545439],[-83.69140317284047,32.83893731074269],[-83.69149610601909,32.83891103592533],[-83.69159473501868,32.83888512713843],[-83.69168762066953,32.83886795724609],[-83.69198313419867,32.83886031674033],[-83.69242755928077,32.83886148664097],[-83.69293059944407,32.83886098672122],[-83.69359560371105,32.83886367346991],[-83.6944185180231,32.83886678129147],[-83.69477832413151,32.83886126688991],[-83.69512450013383,32.83881670452323],[-83.69530621165899,32.83877976685043],[-83.69551653875331,32.83871905846507],[-83.69573509476638,32.83864120181982],[-83.69587951511328,32.83857543472674],[-83.69599047167809,32.83852706316561],[-83.69664124591894,32.83814040700766],[-83.69768325195373,32.83749753003691],[-83.69796577833229,32.83732714322551],[-83.69891142238045,32.83674075657827],[-83.69904614751363,32.83666017571394],[-83.69930907492126,32.83650122198956],[-83.69946175093645,32.83641211826089],[-83.69972472453465,32.83624405946684],[-83.70052006613022,32.83575570729327],[-83.70075195828106,32.83561570300385],[-83.70097807883442,32.83548993662844],[-83.70134716386713,32.83526351645274],[-83.70173250207107,32.83504145071847],[-83.70243137375138,32.8346308921871],[-83.70269514492644,32.8344636884986],[-83.70276179365223,32.83442286549218],[-83.70305099998039,32.83437000021004],[-83.70320507063568,32.83462740655722],[-83.70349904343536,32.83498527350637],[-83.70376537166818,32.83518761786885],[-83.70397345529754,32.83527560822198],[-83.70431839330851,32.8353606401139],[-83.70455174441653,32.83537871595286],[-83.70464859407271,32.83541130577802],[-83.70472403230801,32.83564089755298],[-83.7047370027082,32.83606837952702],[-83.7048363067957,32.83618184346766],[-83.70507001162697,32.83621147234192],[-83.70530266534298,32.83620644064801],[-83.70551952824131,32.83613238230424],[-83.7057395472426,32.83616230578637],[-83.7058904377831,32.83617060315059],[-83.70602413616587,32.83606366007206],[-83.70608975732696,32.83596975135423],[-83.70629258362801,32.83588443360252],[-83.70652874334223,32.83599493489599],[-83.7066006777742,32.83610899029273],[-83.7068319244831,32.83650862561459],[-83.70698632536772,32.8366324560229],[-83.70711545963913,32.83682620125861],[-83.70729161752038,32.8372154667688],[-83.70731196987551,32.83743468811094],[-83.70722389139948,32.83769093976921],[-83.70714949755548,32.83794689531381],[-83.70715862027672,32.83824728779442],[-83.70723091011718,32.83837289588926],[-83.70743970604617,32.83848398667114],[-83.70775658467252,32.83854649336181],[-83.70803065195742,32.83855212050666],[-83.70831700124042,32.83851123681276],[-83.70860159278095,32.83841258440604],[-83.70884582987226,32.83833792795736],[-83.70905392593342,32.83842590902717],[-83.70915113150778,32.83847004756119],[-83.70923781039838,32.83861846529332],[-83.70921711198089,32.83883857510868],[-83.70919711532568,32.83908179194477],[-83.70918729242032,32.83920917734121],[-83.70914904384416,32.83930249514083],[-83.70912588640138,32.83944172984538],[-83.70916834945244,32.83948705515856],[-83.70929648427331,32.83951599894728],[-83.70940107506171,32.83965986580169],[-83.70942232232521,32.83975939065334],[-83.70936197796513,32.83987221981899],[-83.7092275129923,32.84009433150749],[-83.70919098027836,32.84024125547792],[-83.70919565669263,32.84054495543903],[-83.70925040684816,32.84069759306136],[-83.70936655342155,32.84077198858127],[-83.7094626218737,32.84078529001486],[-83.70951503513074,32.84086106583059],[-83.70950360595366,32.84123433592607],[-83.70953792745424,32.8413143498267],[-83.70969154665754,32.84142254348853],[-83.70977069106547,32.84147851184643],[-83.70986734975588,32.84166100584835],[-83.70992069922056,32.84176752652284],[-83.70994696698718,32.84188232496142],[-83.70990646764766,32.84204856243581],[-83.70980608870548,32.84234300262742],[-83.70968493394207,32.84270326699325],[-83.70965668839452,32.84282309220868],[-83.7096599602563,32.84293069799393],[-83.70971436148871,32.84307180576337],[-83.70971145055658,32.84327568532518],[-83.70968645484704,32.84334374501923],[-83.70966648719599,32.84343269381656],[-83.7095661351845,32.84367410118263],[-83.70950195154701,32.84403314494305],[-83.70954119068502,32.84481099855579],[-83.70960236142622,32.84556445251319],[-83.70964761345779,32.84584098195099],[-83.70973520378772,32.84611180981737],[-83.70978002040857,32.84637399482593],[-83.70981233972823,32.84645822160604],[-83.70989665600516,32.84652816465223],[-83.70998845090006,32.84656445264334],[-83.71008692827237,32.84663408833183],[-83.71017466192622,32.84681639611279],[-83.7101796002113,32.84683394867902],[-83.71026979628054,32.84731799970032],[-83.70995687036805,32.84741094300661],[-83.70977728552802,32.84747837180089],[-83.70941413253439,32.84765364402787],[-83.70878631433865,32.84800574866301],[-83.70841832755136,32.84817017804924],[-83.70827966431777,32.84822326821661],[-83.70812148306166,32.8482723360238],[-83.7079511264739,32.84831465879495],[-83.70779140980088,32.84834585454588],[-83.70760321092241,32.84837488324406],[-83.70745006745436,32.84839424881187],[-83.70719195254,32.84840532652924],[-83.70693471786478,32.84840335101961],[-83.70679964716561,32.84839100175903],[-83.70672560255746,32.84838420166403],[-83.70654501692485,32.84835759726848],[-83.70635228207748,32.84831926720441],[-83.70612870682619,32.84826278419856],[-83.70547106133307,32.84808256147772],[-83.7037476921148,32.84761253952871],[-83.70304108565055,32.84745703182246],[-83.70235462329396,32.84734179248935],[-83.70128554691999,32.84722856373844],[-83.70029014619635,32.84719290529114],[-83.69966745038636,32.84718250941782],[-83.69903990288283,32.84717812391296],[-83.69862811565444,32.84714237862884],[-83.69872010962855,32.84762713335545],[-83.69869399995002,32.84828700042424],[-83.6988160003437,32.84828900045189],[-83.6989149996827,32.84828999998462],[-83.69890299986328,32.85033900054667],[-83.69900300026768,32.8511390001096],[-83.69700299963375,32.85113900037294],[-83.69650300058203,32.85113900018214],[-83.69524000000249,32.85113800052177],[-83.69523699991413,32.85175099940811],[-83.6952740005279,32.85175099993034],[-83.69545999994327,32.85174300016214],[-83.6955569992836,32.85171500003693],[-83.69563699974597,32.85183200003972],[-83.69573299966159,32.85195700034388],[-83.69565900037186,32.85217599945823],[-83.69530300017273,32.85243800000036],[-83.69519099991305,32.85210200018281],[-83.69488300013262,32.85214099987257],[-83.69495800003449,32.85185500034188],[-83.69346900003784,32.85184000072424],[-83.6933969998545,32.85304000006897],[-83.69340300010528,32.85333900016742],[-83.69340300057677,32.85393800009198],[-83.6935720004922,32.85625499986055],[-83.69357900041584,32.85627599981579],[-83.6956129993638,32.85628900073191],[-83.69566100050665,32.85629499969169],[-83.69608199980608,32.85631299971812],[-83.69622900020033,32.85631299971956],[-83.69785300021462,32.85634700066084],[-83.69786600013488,32.85650800005067],[-83.69786600038621,32.85652400025274],[-83.69875899954059,32.85642600053137],[-83.69875500015375,32.85682699970356],[-83.70282300058943,32.85693400070609],[-83.70280624423933,32.85871183120555],[-83.70281607215446,32.85905164488246],[-83.70331274887631,32.85905348526965],[-83.70330199933353,32.85916299955456] 
					]);
					viewholes.push([
						[-83.65717035942799,32.8257755609722],[-83.6627102978979,32.82579798655898],[-83.6627057038408,32.82661146356255],[-83.66270130102929,32.82739104559109],[-83.66269345211806,32.82878073505169],[-83.66268636849109,32.83003484478606],[-83.66272306892795,32.83064511377232],[-83.66263913745071,32.83128879261115],[-83.66263473326958,32.83206837404831],[-83.6625905642677,32.83278000403162],[-83.66254658601764,32.83345773907684],[-83.66253222010224,32.83599985118013],[-83.66241896401304,32.84182943414499],[-83.66247550498611,32.84603271013236],[-83.66147108874419,32.84613034590684],[-83.65881998351016,32.84628909284753],[-83.65737464403132,32.8462493234412],[-83.65713410935389,32.84618055323311],[-83.65601233090139,32.84573533883016],[-83.65537181947425,32.84539376823726],[-83.65001072451764,32.84201609250524],[-83.65162932103556,32.83985344948328],[-83.65296190983317,32.83853699974647],[-83.64960049589855,32.83659111080301],[-83.6517436691489,32.83395609182687],[-83.65344236927926,32.83179375100416],[-83.65477675416561,32.83013833070632],[-83.65546409807045,32.82929374944489],[-83.65611089536556,32.82851679008598],[-83.65639462883581,32.82804340835078],[-83.65684126420342,32.82716394198035],[-83.65712692483663,32.82635160996588],[-83.65717035942799,32.8257755609722] 
					]);
					viewholes.push([
						[-83.64568504666907,32.84129770794161],[-83.64684618450336,32.8398236542856],[-83.64716865768973,32.83986391121615],[-83.64822488591811,32.84056881422167],[-83.64964745517199,32.84170331972335],[-83.6514390980403,32.84280041113683],[-83.65318468302992,32.84389728799076],[-83.65474634710417,32.84491555244175],[-83.65566594740494,32.84534740821869],[-83.65566460929804,32.84558091038331],[-83.65561069964325,32.84694281789299],[-83.65546480233139,32.84826543140288],[-83.65535920257997,32.85060007473363],[-83.65525940110157,32.85192287553097],[-83.65474508056877,32.85316614496377],[-83.65451074487778,32.85382679007459],[-83.65206705991424,32.85381676381954],[-83.65049873756107,32.85392705758674],[-83.64999088061012,32.85404171514188],[-83.64828174041229,32.85457949602626],[-83.64666434158318,32.85519547041353],[-83.64481546810276,32.85596612986971],[-83.64362555817814,32.85444336530335],[-83.64238981085954,32.85288147938389],[-83.64161081055938,32.85206093792886],[-83.64184661128452,32.85116681626788],[-83.64212874147246,32.85023397035011],[-83.64222873538824,32.84891118160401],[-83.64228399535361,32.84735469768457],[-83.6426158712185,32.84579937203569],[-83.64299155197511,32.84463340748964],[-83.64405989063376,32.84327574639781],[-83.64568504666907,32.84129770794161] 
					]);
					viewholes.push([
						[-83.57286619339712,32.86502733042817],[-83.57214288278564,32.86484044908359],[-83.57083872353412,32.86483424451946],[-83.56989601192929,32.86495204841815],[-83.56895329794375,32.86506984518181],[-83.56982683517865,32.86446252905814],[-83.57114161392875,32.86287892888767],[-83.57216205686973,32.86196655168263],[-83.57376167402415,32.86111806070094],[-83.5751414768643,32.86063540226348],[-83.5775359629815,32.86009636182892],[-83.58051041588753,32.85949884506229],[-83.58152550591423,32.85938129912162],[-83.58305173989039,32.85865464245458],[-83.58443465127586,32.85768270483671],[-83.58538245258418,32.85676987968858],[-83.58633142878625,32.85567360605966],[-83.5877218038236,32.85353983753266],[-83.58852820896928,32.85207599328427],[-83.59113537325885,32.85221031003842],[-83.59236730315216,32.8521548214331],[-83.59323662227439,32.85215880834683],[-83.59388979034917,32.85197835326535],[-83.59563273418803,32.85131368149835],[-83.59759336892958,32.85058882649795],[-83.60093385260276,32.84931984592881],[-83.60318532273469,32.84841277012131],[-83.60449117693408,32.84811289864995],[-83.60999701128837,32.84807636369172],[-83.61637174981882,32.84810455956337],[-83.62129843823099,32.84800383002543],[-83.62128796534807,32.8497159577573],[-83.6210605367482,32.85136599018346],[-83.62076552281535,32.85222078973271],[-83.62039768405835,32.85313641952559],[-83.61988269689662,32.85441829906093],[-83.6193665683256,32.85588361805321],[-83.6189232460417,32.85728810426902],[-83.61840858904172,32.85850882911623],[-83.61818747979066,32.85911934940907],[-83.61811164328178,32.85966935733313],[-83.61789354120675,32.85979069873758],[-83.61238736148998,32.85976642619334],[-83.60622914204831,32.85973899222743],[-83.60180933159674,32.85978026463114],[-83.60050446262906,32.85989666431512],[-83.59898146228578,32.86013435849064],[-83.5973852228969,32.86049399850064],[-83.59571652054954,32.86085328737054],[-83.59375682322383,32.86139466809807],[-83.59259445964847,32.86187853032121],[-83.58924982116885,32.86369760164524],[-83.58670482739029,32.86509225062157],[-83.58532302099192,32.86588077055924],[-83.58394598921771,32.86593551260601],[-83.5804669750695,32.86610270497975],[-83.5784382512809,32.86609318221968],[-83.57648360292964,32.86583938129913],[-83.57438527769278,32.86540142370578],[-83.57286619339712,32.86502733042817] 
					]);
					viewholes.push([
						[-83.64936506150634,32.79575339386722],[-83.64586364593694,32.79566104581075],[-83.64351371079115,32.79565125161994],[-83.64268500692882,32.79553103254607],[-83.64241082809788,32.79514070298523],[-83.64209445938035,32.7940885863911],[-83.6418230307347,32.79323124832838],[-83.64132100116224,32.7924118607707],[-83.64081806461787,32.79174814027029],[-83.64013312960235,32.79069447039451],[-83.63986494160241,32.78929228602366],[-83.63941637245767,32.78722773132438],[-83.63910397106035,32.78551401244831],[-83.63874757889364,32.78344984251822],[-83.63852872199331,32.78150300580315],[-83.63826196494807,32.77986731251895],[-83.64121015135058,32.77991863195221],[-83.64554018752658,32.78001455648793],[-83.64968573330704,32.78014848847395],[-83.65267978480341,32.78023864564784],[-83.65917511424222,32.7803429646057],[-83.65917489330724,32.78038188205962],[-83.65911180910182,32.78337833861509],[-83.65891470269479,32.785634802524],[-83.65867969706925,32.78645113424652],[-83.6583992781125,32.78715052621154],[-83.65788538668353,32.78839382547308],[-83.65611747314361,32.79138333946051],[-83.65499896966391,32.79359711611318],[-83.6537401673089,32.79616057129873],[-83.65314160742247,32.79608028192711],[-83.65148349311211,32.79595671734445],[-83.64936416014953,32.79590906305882],[-83.64936506150634,32.79575339386722] 
					]);
					viewholes.push([
						[-83.69820417454709,32.78626027127748],[-83.69693669642726,32.78616101741718],[-83.69384085069659,32.78624387655562],[-83.69380422402402,32.78611772883372],[-83.69380522403384,32.78592871841737],[-83.69604331530032,32.78584264027685],[-83.69664597033692,32.78471081764827],[-83.69556730401425,32.78417122509772],[-83.69565682876868,32.78133634710139],[-83.69797004688569,32.78112450671291],[-83.69782831665727,32.77970636830376],[-83.69773098569127,32.77693379181268],[-83.69774932429549,32.77343709107183],[-83.69772508717028,32.7709483074503],[-83.70324356480882,32.77096884100717],[-83.70314368027921,32.77585135061487],[-83.70810296666005,32.77590110391931],[-83.70822807834173,32.77331836097278],[-83.71131993823566,32.77392818328853],[-83.71113205232109,32.77421102238121],[-83.71556931369362,32.78163015280104],[-83.71817877383316,32.78182853706504],[-83.71837929893763,32.78646011056379],[-83.7192337392131,32.78712471618758],[-83.71919124028969,32.78816414369622],[-83.71453009405163,32.78802139533264],[-83.71453168779556,32.78770637714187],[-83.70856496267024,32.78762169216005],[-83.70759548046492,32.78758664030425],[-83.70748537892152,32.78723971050397],[-83.70700153117892,32.78704892151104],[-83.70659162420291,32.786984411802],[-83.7042058041834,32.78678661155421],[-83.70252840895411,32.78662289533798],[-83.69820417454709,32.78626027127748] 
					]);

	for(var h=0; h<viewholes.length; h++){
		for(var pt=0;pt<viewholes[h].length; pt++){
			viewholes[h][pt] = new google.maps.LatLng(viewholes[h][pt][1], viewholes[h][pt][0] );
		}
		hole = new google.maps.Polygon({
			paths: viewholes[h],
			strokeColor: "#0000FF",
			strokeOpacity: 0.8,
			strokeWeight: 2,
			fillColor: "#0000FF",
			fillOpacity: 0.35
		});
		//hole.setMap(map);
		viewholes[h] = hole;
	}
	if(!gup("lat")){
		findSView();
	}
}
function sendAndNext(){
  var s = document.createElement("script");
  s.type = "text/javascript";
  s.src = "/store?survey=foodband&lat=" + map.getStreetView().getPosition().lat() + "&lng=" + map.getStreetView().getPosition().lng() + "&area=" + activeArea + "&rep=" + encodeResponse();
  document.body.appendChild(s);
  findSView();
}
function encodeResponse(){
  var coded = [getCheckedValue("stereotype")];
  coded.push(getCheckedValue("vacant"));
  coded.push(getCheckedValue("parking"));
  coded.push(getCheckedValue("abandoned"));
  return coded.join(";")
}
function getCheckedValue(radioName) {
  var radioObj = document.getElementsByClassName(radioName);
  var radioLength = radioObj.length;
  for(var i = 0; i < radioLength; i++) {
	if(radioObj[i].checked) {
	  return radioObj[i].value;
	}
  }
  return "";
}
function findSView(){
	document.getElementById("svsearch").disabled = true;
	var foundHole = null;
	var lat, lng, ll;
	while(!foundHole){
		lat = Math.random() * (32.94635021708248 - 32.695556653552394) + 32.695556653552394;
		lng = Math.random() * (-83.50668267569733 + 83.80949334464265) - 83.80949334464265;
		ll = new google.maps.LatLng(lat,lng);
		for(var h=0; h<viewholes.length; h++){
			if(google.maps.geometry.poly.containsLocation( ll, viewholes[h] )){
				activeArea = h;
				foundHole = viewholes[h];
				if(oldHole){
					oldHole.setMap(null);
				}
				oldHole = foundHole;
				foundHole.setMap(map);
				break;
			}
		}
	}
	map.setCenter(ll);
	map.setZoom(17);
	updatePerma();
	var pov = {
	    heading: 34,
	    pitch: 10,
	    zoom: 0
	  };
	var panorama = map.getStreetView();
	panorama.setPosition(ll);
	panorama.setPov(pov);
	panorama.setVisible(true);
	document.getElementById("svsearch").disabled = false;
}
function bindWindow(mapmrk, datamrk){
	google.maps.event.addListener(mapmrk, 'click', function() {
		infoWindow.setContent("<h3>" + datamrk.name + "</h3>" + datamrk.details + "<hr/><a href='" + datamrk.link + "' target='_blank'>" + datamrk.link + "</a>");
		infoWindow.open(map, mapmrk);
	});
}
function toggle(btn){
	var setLayerOn = map;
	if(btn.innerHTML.indexOf(checkdiv.innerHTML) > -1){
		setLayerOn = null;
		btn.innerHTML = btn.innerHTML.replace(checkdiv.innerHTML,'');
	}
	else{
		btn.innerHTML = '&check;' + btn.innerHTML;
	}
	updatePerma();
}
function updatePerma(){
	var lat = map.getCenter().lat();
	var lng = map.getCenter().lng();
	var zoom = map.getZoom();
	var lyrs = [ ];
	$("perma").href = "http://bbandxplor.herokuapp.com/foodband?lat=" + lat + "&lng=" + lng + "&z=" + zoom + "&lyrs=" + lyrs.join(',');
}
function gup(nm){nm=nm.replace(/[\[]/,"\[").replace(/[\]]/,"\]");var rxS="[\?&]"+nm+"=([^&#]*)";var rx=new RegExp(rxS);var rs=rx.exec(window.location.href);if(!rs){return null;}else{return rs[1];}}
function $(id){
	return document.getElementById(id);
}
		</script>
		<style type="text/css">
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: georgia, arial, serif;
}
#sidebar {
	float: left;
	width: 19%;
	height: 100%;
}
#map_canvas {
	float: left;
	width: 80%;
	height: 100%;
}
label {
	display: block;
}
		</style>
	</head>
	<body onload="init()">
		<div id="sidebar">
			<h3>Grow Food Locally</h3>
			<input id="svsearch" type="button" value="Search" onclick="findSView()"/>
			<h3>Crowdsource</h3>
			<b>Is this area a...</b>
			<label>
				<input type="radio" name="stereotype" value="highway"/>
				Highway
			</label>
			<label>
				<input type="radio" name="stereotype" value="industrial"/>
				Industrial Area
			</label>
			<label>
				<input type="radio" name="stereotype" value="park_or_pond"/>
				Park or Pond
			</label>
			<label>
				<input type="radio" name="stereotype" value="other"/>
				Other
			</label>
			<br/>
			If <b>Other</b>, please describe:
			<br/>
			<b>Is there vacant land?</b><br/>
			<label>
				<input type="radio" name="vacant" value="yes"/>
				Yes
			</label>
			<label>
				<input type="radio" name="vacant" value="no"/>
				No
			</label>
			<b>Are there places to park?</b><br/>
			<label>
				<input type="radio" name="parking" value="yes"/>
				Yes
			</label>
			<label>
				<input type="radio" name="parking" value="no"/>
				No
			</label>
			<b>Are there unkempt buildings?</b><br/>
			<label>
				<input type="radio" name="abandoned" value="yes"/>
				Yes
			</label>
			<label>
				<input type="radio" name="abandoned" value="no"/>
				No
			</label>
			<br/>
			<input type="button" value="Submit" onclick="sendAndNext()"/>
			<hr/>
			<a id="perma" href="http://bbandxplor.herokuapp.com/foodband">Link to this View</a>
			<br/>
			<small>Data from <a href="http://www.broadbandmap.gov/summarize/state/georgia/county/bibb">BroadbandMap.gov</a><br/>
			US Dept of Commerce, NTIA, State Broadband Initiative (Jun 2011)</small>
		</div>
		<div id="map_canvas">
		</div>
	</body>
</html>