<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<title>Main Street Map</title>
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<script type="text/javascript">
var map, infoWindow, terminalMark, markers;
function init(){
	// set up Google Maps, pointed at Terminal Station, Macon, GA
	var mapOptions = {
		center: new google.maps.LatLng(32.834164,-83.624952),
		zoom: 18,
		mapTypeId: google.maps.MapTypeId.SATELLITE,
		streetViewControl: false
	};
	map = new google.maps.Map($("map_canvas"), mapOptions);
	infoWindow = new google.maps.InfoWindow({ maxWidth: 350 });
	google.maps.event.addListener(map, 'click', function() {
		infoWindow.close();
	});

	// welcome visitors
	terminalMark = new google.maps.Marker({
		map: map,
		icon: "http://google-maps-icons.googlecode.com/files/train.png",
		position: new google.maps.LatLng( 32.833637, -83.624086),
		title: "Terminal Station"
	});
	google.maps.event.addListener(terminalMark, 'click', function() {
		terminalIntro();
	});
	terminalIntro();
	
	// add marker set
	markers = [
		{ name: "Tubman African American Museum", icon: "museum-historical", lat: 32.833740, lng: -83.625184, details: "The Tubman Museum is a growing institution for historic and cultural outreach in the community.", link: "http://tubmanmuseum.com" },
		{ name: "Georgia Sports Hall of Fame", icon: "museum-historical", lat: 32.834457, lng: -83.624465, details: "See sports heroes.", link: "http://gshf.org" }
	];
	for(var m=0; m<markers.length; m++){
		var iconDetail = markers[m].icon;
		if((iconDetail.indexOf("http:") == -1) && (iconDetail.indexOf("https:") == -1)){
			iconDetail = "http://google-maps-icons.googlecode.com/files/" + iconDetail + ".png";
		}
		var mrk = new google.maps.Marker({
			map: map,
			icon: iconDetail,
			position: new google.maps.LatLng( markers[m].lat, markers[m].lng ),
			title: markers[m].name
		});
		bindWindow(mrk, markers[m]);
		markers[m].pin = mrk;
	}
	
	// map nav
	
	// move to Cherry & 3rd
	var uptown = new google.maps.Marker({
		map: map,
		icon: "http://picol.org/images/icons/files/png/64/arrow_full_upperleft_64.png",
		position: new google.maps.LatLng(32.834838, -83.626075)
	});
	google.maps.event.addListener(uptown, 'click', function() {
		map.panTo( new google.maps.LatLng(32.835802, -83.627667) );
	});
	
	// move to Cherry & 2nd
	var uptown2 = new google.maps.Marker({
		map: map,
		icon: "http://picol.org/images/icons/files/png/64/arrow_full_upperleft_64.png",
		position: new google.maps.LatLng(32.836735, -83.629070)
	});
	google.maps.event.addListener(uptown2, 'click', function() {
		map.setCenter(new google.maps.LatLng(32.836735, -83.629070));
		map.setZoom(18);
		var second = "<p>Many mainstay businesses of Macon operate on the 2nd Street Corridor.</p>";
		second += "<p>Where it crosses Cherry Street, you can find restaurants and shops. You're only a block from Nu Way Weiners</p>";
		infoWindow.setContent(second);
		infoWindow.open(map, uptown2);
	});
}
function terminalIntro(){
	var myintro = "<p><strong>Terminal Station</strong> has welcomed travelers and business leaders to Macon, Georgia for nearly 100 years.</p>"
	myintro += "<p>The station sits at the south end of Cherry Street, one of our major downtown streets.</p>";
	//myintro += "<p></p>";
	infoWindow.setContent(myintro);
	infoWindow.open(map, terminalMark);
}
function bindWindow(mapmrk, datamrk){
	google.maps.event.addListener(mapmrk, 'click', function() {
		infoWindow.setContent("<h3>" + datamrk.name + "</h3>" + datamrk.details + "<hr/><a href='" + datamrk.link + "' target='_blank'>" + datamrk.link + "</a>");
		infoWindow.open(map, mapmrk);
	});
}
function $(id){
	return document.getElementById(id);
}
		</script>
		<style type="text/css">
html, body, #map_canvas {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: georgia, arial, serif;
}
		</style>
	</head>
	<body onload="init()">
		<div id="map_canvas">
		</div>
	</body>
</html>