<h1>SV Reports</h1>

<% if @reports %>
  <h2>Reports on this Map</h2>
  <ul>
    <% @reports.each do |report| %>
      <li>
        Report from area <%= report.area.to_s() %>
      	<br/>
      	<%= report.latlng[0].to_s() + "," + report.latlng[1].to_s() %>
      </li>
    <% end %>
  </ul>
<% end %>